extends ../shared/template

block content
  h1 Meet With Other Fans:
  each meetup in meetups
    a(href='/meetups/'+ meetup._id.toString()) Sport: &nbsp;  #{meetup.sportName}.<br>  For #{meetup.loyalty} fans.<br> Game: &nbsp;  #{meetup.teams}. <br> Location: &nbsp; #{meetup.place}. <br><br>


