extends ../shared/template

block content
  if user
    .row
      .small-12.columns
        #teamsVs
          #team1 team1
            p "TEXANS"
            #city Houston
          .vs
          #team2 team2
            p "PREDATORS"
            #city2 Tennessee
    .row
      .small-12.columns
        #userTeams
          each team in teams
            .buttonWrap
              .sport= team.leagueShortName
              button.stuff.btn= team.name
    .row
      .small-12.columns
        #newsFeed News Feed
          #red
          //marquee(behavior='scroll', direction='left', scrollamount='7')#newsText  ...Teddy Bridgewater off target at Louisville’s pro day...
          marquee(behavior='scroll', direction='left', scrollamount='7')#newsText .....
    .row
      .small-6.columns
        #Games Games
      .small-6.columns
        #MeetUps: a(href="/meetups") MeetUps
    .row
      .small-7.columns
        #sportBars Sport Bars
      .small-5.columns
        #map
          input(type="text" id="autocomplete")
    .row
      .small-12.columns
        p#uid(style='visibility: hidden;')= userId
        each team in teams
          input(type='text' style='visibility: hidden;' id= team.leagueShortName value= team._id)


  else
    h1 please register and login!
