extends ../shared/template

block content
  if !user
    .row
      .small-12.columns
        #teamsVs
          #team1 team1
            p "TEXANS"
            #city Houston
          .vs
          #team2 team2
            p "PREDATORS"
            #city2 Tennessee
    .row
      .small-12.columns
        #newsFeed News Feed
          #red
          marquee(behavior='scroll', direction='left', scrollamount='7')#newsText  ...Teddy Bridgewater off target at Louisville’s pro day...
    .row
      .small-6.columns
        #Games Games
      .small-6.columns
        #MeetUps: a(href="/meetups") MeetUps
    .row
      .small-7.columns
        #sportBars Sport Bars
      .small-5.columns
        #map


  else

    h1 please register and login!
