extends ../shared/template

block content
  h1 What's up!!
  if !user
    form
      fieldset
          legend Register
          .row
            .small-12.columns
              label Email
              input(name='email', type='text', autofocus=true)
          .row
            .small-12.columns
              label Password
              input(name='password', type='password')
          .row
            .small-12.columns
              button.small.radius Register

  else

    h1 booty
